{% extends 'base.html' %}

{% block title %} Payout deatils {% endblock %}
{% block content %}


<div class="flex justify-center m-auto items-center h-screen bg-gray-100">
  <div class="bg-white shadow-md md:w-[40%] rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-6">Edit Proposal Details</h2>



    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{form}}


      <button type="submit"
        class="block w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Update</button>

    </form>




  </div>
</div>



<br>
<br>
<br>
{% endblock %}